body {
	background-color: #f6f6f6;
	width: 100%;
	height: 100%;
}
.content,.chatRight {
	height: 100%;
}
.chat01_title {
	margin-top: 0;
	height: 32px;
	color: #fff;
	text-align: center;
	line-height: 32px;
}
.chat01_content {
	padding: 0 10px;
	position: fixed;
	top: 32px;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;  
	box-sizing: border-box;
}
.wl_faces_box {
	width: 100%;
	height: auto;
	left: 0;
	bottom: 57px;
}
.wl_faces_content {
	width: 100%;
	height: auto;
}
.wl_faces_main ul {
	margin: 0;
	width: 100%;
}
.doctor,
.patid {
	margin:10px 0;
}
.chat-content-p3{
	display: block;
	position: relative;
    padding: 10px;
    max-width: 80%;
    min-height: 40px;
    line-height: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
}
.doctor .chat-content-p3 {
    float: right;
	background-color: #a9dff7;
    border: 1px solid #78d1f8;
}
.doctor .chat-content-p3:before{
	position: absolute;
    right: -11px;
    top: 18px;
    content: '';
    border-left: 10px solid #ddd;
    border-top: 6px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: 99;
}
.doctor .chat-content-p3:after{
	position: absolute;
    right: -9px;
    top: 18px;
    content: '';
    border-left: 10px solid #a9dff7;
    border-top: 6px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: 99;
}
.patid .chat-content-p3 {
    float: left;
}
.patid .chat-content-p3:before {
    position: absolute;
    left: -11px;
    top: 15px;
    content: '';
    border-right: 10px solid #ddd;
    border-top: 6px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: 99;
}
.patid .chat-content-p3:after {
   	position: absolute;
    left: -9px;
    top: 15px;
    content: '';
    border-right: 10px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 7px solid transparent;
    z-index: 99;
}