/**
 * 高管家血压查询列表样式
 *
*/
.list-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: #e6e6e6;
}
.list-wrap>.title {
	position: relative;
	height: 40px;
	background-color: #31b2eb;
	color: #fff;
}
.list-wrap>.title>i {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	width: 20px;
	height: 20px;
	background: url(../images/back.png) no-repeat;
	background-size: 100%;
}
.list-wrap>.title> p{
	text-align: center;
	line-height: 40px;
}
.list-wrap>.header {
	padding: 20px 5%;
}
.list-wrap>.header>.time {
	-webkit-appearance:none;  
	background-color:transparent;  
	float: left;
	padding-left: 25px;
	width: 45%;
	height: 25px;
	background: url(../images/date.png) no-repeat left center;
	background-size: 20px 20px;
	-webkit-appearance: none; 
}
.list-wrap>.header>.time:last-child {
	float: right;
}
.list-wrap .time>input {
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #0b0b0b;
	border: 1px solid #39a5d6;
	box-sizing: border-box;
}
.list-wrap>.list {
	padding: 0 5%;
}
.list-wrap>.list>a {
	display: block;
	margin-bottom: 15px;
	padding: 5px 20px;
	border-radius: 15px;
	background-color: #fff;
}
.list-wrap>.list>a>h3 {
	padding-top: 5px;
	color: #39a5d6;
	border-bottom: 1px solid #39a5d6;
}
.list-wrap>.list>a>h3>span,
.list-wrap>.list>a>.content>.row>span {
	float: left;
	width: 33.33%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.list-wrap>.list>a>h3>span:first-child {
	text-align: left;
}
.list-wrap>.list>a>.content {
	margin: 5px 0;
	padding-left: 10px;
	box-sizing: border-box;
}
.list-wrap>.list>a>.content>.left-data {
	float: left;
	width: 65%;
}
.list-wrap>.list>a>.content>.right-chart {
	position: relative;
	float: right;
	width: 35%;
}
.list-wrap>.list>a>.content .item {
	clear: both;
}
.list-wrap>.list>a .item .desc {
	float: left;
	width: 60%;
}
.list-wrap>.list>a .item .desc>p {
	line-height: 25px;

}
.list-wrap>.list>a .item .desc>p:first-child {
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.list-wrap>.list>a .item .desc>p:last-child {
	font-size: 12px;
	color: #9a9a9a;
	line-height: 15px;
} 
.list-wrap>.list>a .item .desc-data {
	float: left;
	align-self: center;
	color: #ccd47f;
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
}
.list-wrap>.list .right-chart>.circle {
	float: right;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    border: 4px solid transparent;
}
.list-wrap>.list .blood-normal .right-chart .circle {
	color: #cbd660;
	border: 4px solid #cbd660;
}
.list-wrap>.list .blood-normal .left-data .desc-data {
	color: #cbd660;
}
.list-wrap>.list .blood-well .right-chart .circle {
	color: #5e9e79;
	border: 4px solid #5e9e79;
}
.list-wrap>.list .blood-well .left-data .desc-data {
	color: #5e9e79;
}





.list-wrap>.list .heart-num {
	position: absolute;
	top: 80px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: right;
}
.list-wrap>.list .heart-normal {
	color: #c0c0c0;
}
.list-wrap>.list .heart-slow {
	color: #f02c1c;
}
/*低血压*/
.list-wrap>.list .low-blood .item .desc-data{
	color: #17a1e9;
}
.list-wrap>.list .low-blood .right-chart .circle {
	border:  4px solid #17a1e9;
	color: #17a1e9;
}
/*一级高压*/
.list-wrap>.list .one-high-blood .item .desc-data{
	color: #f0c567;
}
.list-wrap>.list .one-high-blood .right-chart .circle {
	padding: 10px 5px;
	text-indent: 3px;
	border:  4px solid #f0c567;
	color: #f0c567;
}
/*二级高血压*/
.list-wrap>.list .two-high-blood .item .desc-data{
	color: #ec8c59;
}
.list-wrap>.list .two-high-blood .right-chart .circle {
	padding: 10px 5px;
	text-indent: 3px;
	border:  4px solid #ec8c59;
	color: #ec8c59;
}
/*三级高血压*/
.list-wrap>.list .three-high-blood .item .desc-data{
	color: #de595e;
}
.list-wrap>.list .three-high-blood .right-chart .circle {
	padding: 10px 5px;
	text-indent: 3px;
	border:  4px solid #de595e;
	color: #de595e;
}



/**
* 血糖列表
*/
.select-times {
	float: right;
	padding-right: 30px;
	width: 90px;
	height: 40px;
	line-height: 40px;
	background: url(../images/down.png) no-repeat 60px center;
	background-size: 16px;

	box-sizing: border-box;
}
.list-wrap>.title>.show-center {
	margin: 0 90px 0 35px;
}
.list-wrap>.list>a .item .suger-desc {
	width: 40%;
    color: #999;
    font-size: 18px;
    line-height: 40px;
}
.list-wrap>.list .blood-normal .left-data .suger-desc-data {
	line-height: 40px;
	color: #999;
	font-size: 14px;
}
.list-wrap>.list .low-suger .suger-desc-data>i {
	font-size: 18px;
	color: #94d2ed;
}
.list-wrap>.list .blood-normal .left-data .time-flag {
	color: #000;
	font-size: 18px;
}

.list-wrap>.list .blood-normal .right-chart .suger-circle {
	float: right;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 19px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    border: 4px solid transparent;
}
/*低血糖*/
.list-wrap>.list .low-suger .right-chart .suger-circle{
	padding: 25px 0;
	border: 4px solid #8bcfec;
	color: #8bcfec;
}
/*低血糖临界点*/
.list-wrap>.list .low-suger-point .suger-desc-data>i {
	font-size: 18px;
	color: #94d2ed;
}
.list-wrap>.list .low-suger-point .right-chart .suger-circle{
	padding: 17px 5px;
	border: 4px solid #8bcfec;
	color: #8bcfec;
}
/*血糖达标*/
.list-wrap>.list .suger-normal .suger-desc-data>i {
	font-size: 18px;
	color: #99d26b;
}
.list-wrap>.list .suger-normal .right-chart .suger-circle{
	border: 4px solid #99d26b;
	color: #99d26b;
}
/*血糖超标*/
.list-wrap>.list .suger-over .suger-desc-data>i {
	font-size: 18px;
	color: #ec8c59;
}
.list-wrap>.list .suger-over .right-chart .suger-circle{
	border: 4px solid #ec8c59;
	color: #ec8c59;
}
/*高血糖*/
.list-wrap>.list .suger-high .suger-desc-data>i {
	font-size: 18px;
	color: #f2898d;
}
.list-wrap>.list .suger-high .right-chart .suger-circle{
	padding: 25px 0;
	border: 4px solid #f2898d;
	color: #f2898d;
}
/*超高血糖*/
.list-wrap>.list .suger-higher .suger-desc-data>i {
	font-size: 18px;
	color: #de595e;
}
.list-wrap>.list .suger-higher .right-chart .suger-circle{
	border: 4px solid #de595e;
	color: #de595e;
}
/*严重高血糖*/
.list-wrap>.list .suger-serious .suger-desc-data>i {
	font-size: 18px;
	color: #e81019;
}
.list-wrap>.list .suger-serious .right-chart .suger-circle{
	text-indent: 6px;
	padding: 13px 5px;
	border: 4px solid #e81019;
	color: #e81019;
}
.list-wrap>.title>.title-menu {
	display: none;
	position: absolute;
    top: 40px;
    right: 11px;
    width: 80px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px #f1f1f1;
    background-color: #fff;
    z-index: 99;
}
.mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.1);
	z-index: 9;
}
.list-wrap>.title>.title-menu li {
	height: 25px;
	line-height: 25px;
	background-color: transparent;
	text-align: center;
	color: #111;
}
.list-wrap>.title>.title-menu li.active {
	background-color: #1990c4;
	color: #fff;
}

/*血压录入*/
.list-row {
	position: relative;
	padding: 0 5%;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
}
.list-row .title {
	padding-left:0.8rem;
	float: left;
	width: 4.27rem;
	height: 1.88rem;
	line-height:1.88rem;
}
.list-row .number {
	float: right;
	margin-right: 0.4rem;
	width: 4rem;
	height:1.88rem;
	line-height:1.88rem;
	border: 0;
	outline: 0;
	text-align: right;
	font-size: 16px;
}
.list-row .unit {
	float: right;
	width: auto;
	height: 1.88rem;
	line-height:1.88rem;
}
.required {
	position: relative;
}
.required:after {
	position: absolute;
	content: '*';
	color: red;
	left: 0;
	top: 0;
}
.list-row .measure {
	float: right;
	border: 0;
	font-size: 16px;
	text-align: right;
	width: 7rem;
	padding-right:1rem;
	height:1.88rem;
	line-height:1.88rem;
	background: url("../images/center/right-arrow.png") no-repeat right center;
	background-size: 0.5rem 0.5rem;
	direction:rtl;
}
.xylr-submit {
	position: absolute;
	bottom:0;
	width: 100%;
	background-color: #ccc;
	height: 1.856rem;
	line-height: 1.856rem;
	text-align: center;
	color: #fff;
	font-size: 0.875rem;
}


/*医生列表*/
.dictor {
	background-color: #f6f6f6;
}
header.dictor {
	background-color: #fff;
}
.dictor>a {
	padding: 0.64rem 4%;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	box-sizing: border-box;
	background-color: #fff;
}
.dictor>a:before {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	content: "";
	border-bottom: 1px solid #e8e8e8;
}
.dictor .photo {
	margin-right: 0.64rem;
	flex-shrink:0;
	width: 1.95rem;
	height: 1.95rem;
}
.dictor .photo>img {
	width: 100%;
	height: 100%;
}
.dictor .item>p {
	line-height: 1rem;
	font-size: 0.7rem;
	color: #999;
} 
.dictor .name {
	margin-right: 0.75rem;
	color: #000;
}
.doctor-info {
	margin-bottom: 2rem;
}
.doctor-info .title {
	padding: 0 4%;
	font-weight: normal;
	height: 1.7rem;
	line-height: 1.7rem;
	color: #5dbae2;
}
.doctor-info>p {
	padding: 0.8rem 4%;
	color: #999;
	background-color: #fff;
	line-height: 1rem;
}
footer.consult {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 1.9rem;
	line-height: 1.9rem;
	background-color: #5dbae2;
	text-align: center;
}
footer.consult>a {
	font-size: 0.768rem;
	color: #fff;
}

/*血脂记录*/
.list-wrap>.list>a>.content>.row>span {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
.list-wrap>.list>a>.content>.row>span:first-child {
	text-align: left;
}
.list-wrap>.list>a>.content>.row>span.color-high {
	color: #ff0000;
}
.list-wrap>.list>a>.content>.row>span.color-slow-high {
	color: #f5662d;
}
.list-wrap>.list>a>.content>.row>span.color-normal {
	color: #1960ef;
}
