/*透明*/
@mixin opacity ($opacity:1){
    opacity: $opacity;
    filter: opacity($opacity*100);
}
/*设置背景图*/
@mixin setBgImg($url) {
    background: url($url) no-repeat;
    background-size: 100% 100%;
}
