@charset "UTF-8";
/*清除浮动*/
.nav-box .nav:after {
  display: block;
  content: '';
  clear: both;
  height: 0; }

/*透明*/
.top {
  background-color: #666;
  color: #fff; }

.tips {
  margin: 0 auto;
  width: 1200px;
  height: 30px;
  line-height: 30px;
  opacity: 0.5;
  filter: opacity(50); }

.tips .btn {
  float: right;
  cursor: pointer; }

.tips .btn > span:hover {
  position: relative;
  color: #fff; }

.tips .btn > span:last-child {
  padding-left: 10px;
  border-left: 1px solid #f1f1f1; }

.tips .telphone {
  margin-left: 10px;
  padding-left: 22px;
  font-size: 14px;
  display: inline-block;
  background: url(../images/comm/mobile.png) no-repeat left center;
  background-size: 15px 13px; }

.nav-box {
  margin: 0 auto;
  width: 1200px;
  padding: 20px 0 10px 0; }

.nav-box .logo {
  float: left;
  width: 180.75px;
  height: 64.5px; }

.nav-box .logo > img {
  width: 100%; }

.nav-box .nav {
  margin-left: 210px;
  padding: 19.125px 0; }

.nav-box .nav > a {
  float: left;
  margin-right: 32px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #666;
  border-radius: 5px; }

.nav-box .nav > a.active,
.nav-box .nav > a:hover {
  background-color: #288ad9;
  color: #fff; }

.main .banner li {
  width: 100%;
  height: 430.5px;
  background: #2884da; }

.main .service {
  margin: 0 auto;
  width: 1200px;
  height: 427.5px;
  background: #f1f1f1; }

.main .type {
  height: 495px;
  background-color: #E5E5E5; }

.main .case {
  height: 360px; }

.main .choose {
  height: 255px;
  background-color: #08afeb; }
