@charset "UTF-8";
/*清除浮动*/
.nav-box .nav:after, .main .service .item-list:after, .main .service .button:after, .main .type .cont .leftmenu:after, .main .type .cont .rightmenu:after {
  display: block;
  content: '';
  clear: both;
  height: 0; }

/*透明*/
/*设置背景图*/
.top {
  background-color: #666;
  color: #fff; }

.tips {
  margin: 0 auto;
  width: 1200px;
  height: 40px;
  line-height: 40px;
  opacity: 0.5;
  filter: opacity(50); }

.tips .btn {
  float: right;
  cursor: pointer; }

.tips .btn > span:hover {
  position: relative;
  color: #fff; }

.tips .btn > span:last-child {
  padding-left: 10px;
  border-left: 1px solid #f1f1f1; }

.tips .telphone {
  margin-left: 10px;
  padding-left: 22px;
  font-size: 14px;
  display: inline-block;
  background: url(../images/comm/mobile.png) no-repeat left center;
  background-size: 15px 13px; }

.nav-box {
  margin: 0 auto;
  width: 1200px;
  padding: 20px 0 10px 0; }

.nav-box .logo {
  float: left;
  width: 180.75px;
  height: 64.5px; }

.nav-box .logo > img {
  width: 100%; }

.nav-box .nav {
  margin-left: 210px;
  padding: 19.125px 0; }

.nav-box .nav > a {
  float: left;
  margin-right: 20px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  border-radius: 5px; }

.nav-box .nav > a.active,
.nav-box .nav > a:hover {
  background-color: #288ad9;
  color: #fff; }

.main .banner li {
  width: 100%;
  height: 574px;
  background: #2884da; }

.main .service {
  padding-top: 20px;
  margin: 0 auto;
  width: 1200px;
  height: 570px;
  box-sizing: border-box;
  overflow: hidden; }

.main .service .title {
  height: 37px;
  background: url(../images/index/title-service.png) no-repeat center center; }

.main .service .tips {
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #777;
  font-size: 15px; }

.main .service .item-list {
  margin-top: 20px;
  width: 1192px; }

.main .service .item {
  display: block;
  position: relative;
  top: 0;
  float: left;
  margin-right: 100px;
  width: 223px;
  height: 276px;
  background: url(../images/index/service-item.png) no-repeat;
  background-size: 100% 100%;
  transition: all .5s ease-out; }

.main .service .item:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -60px;
  width: 207px;
  height: 27px;
  background: url("../images/index/cloud.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item:hover {
  transition: all .5s ease-out;
  top: -10px;
  background: url("../images/index/service-item-active.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item:hover p {
  color: #ff6160; }

.main .service .item:hover .item-text {
  color: #fff; }

.main .service .item > .img {
  margin: 45px auto 0 auto;
  width: 133px;
  height: 102px; }

.main .service .item > .html5 {
  background: url("../images/index/html5.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item:hover > .html5 {
  background: url("../images/index/html05.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item > .shop {
  background: url("../images/index/shop1.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item:hover > .shop {
  background: url("../images/index/shop01.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item > .wechat {
  background: url("../images/index/02.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item:hover > .wechat {
  background: url("../images/index/002.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item > .app {
  background: url("../images/index/03.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item:hover > .app {
  background: url("../images/index/003.png") no-repeat;
  background-size: 100% 100%; }

.main .service .item > p {
  margin-top: 5px;
  padding: 0 10%;
  line-height: 20px;
  font-size: 14px;
  color: #a7a5a5; }

.main .service .last-item {
  margin-right: 0; }

.main .service .item-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 70px;
  color: #888;
  font-size: 18px;
  text-align: center; }

.main .service .button {
  margin: 100px auto 0 auto;
  width: 180px; }

.main .service .button > a {
  position: relative;
  float: left;
  width: 50%;
  height: 40px;
  background-color: #2a9bd5; }

.main .service .button > a > img {
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 19px; }

.main .service .button > a:hover {
  background-color: #298fd7; }

.main .service .button > a.left:after {
  position: absolute;
  top: 50%;
  left: -170px;
  display: block;
  content: '';
  width: 150px;
  height: 1px;
  background-color: #ddd; }

.main .service .button > a.right:after {
  position: absolute;
  top: 50%;
  right: -170px;
  display: block;
  content: '';
  width: 150px;
  height: 1px;
  background-color: #ddd; }

.main .type {
  height: 660px;
  background: url(../images/index/choose-bg.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden; }

.main .type h3 {
  margin-top: 30px;
  height: 104px;
  background: url(../images/index/share-title.png) no-repeat center center; }

.main .type .cont {
  position: relative;
  margin: 0 auto;
  width: 1200px; }

.main .type .cont a {
  position: relative;
  margin-right: 10px;
  float: left;
  width: 75px;
  height: 75px;
  color: #fff;
  transition: all .5s ease-out .1s; }

.main .type .cont a:hover .describe {
  display: block; }

.main .type .cont a .describe {
  display: none;
  position: absolute;
  top: 90px;
  left: -40px;
  width: 150px;
  line-height: 20px; }

.main .type .cont a .describe h4 {
  text-align: center; }

.main .type .cont a.more {
  background: url("../images/index/choose-ore.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose01 {
  background: url("../images/index/choose-01.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose02 {
  background: url("../images/index/choose-02.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose03 {
  background: url("../images/index/choose-03.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose04 {
  background: url("../images/index/choose-04.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose05 {
  background: url("../images/index/choose-05.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose06 {
  background: url("../images/index/choose-06.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose07 {
  background: url("../images/index/choose-07.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont a.choose08 {
  background: url("../images/index/choose-08.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont .leftmenu {
  position: absolute;
  left: 0;
  top: 200px; }

.main .type .cont .chart {
  margin: 20px auto;
  width: 444px;
  height: 484px;
  background: url("../images/index/icon.png") no-repeat;
  background-size: 100% 100%; }

.main .type .cont .rightmenu {
  position: absolute;
  right: 0;
  top: 200px; }

.main .type .cont .rightmenu .nomargin {
  margin-right: 0; }

.main .case {
  padding-top: 30px;
  height: 480px; }

.main .case > h3 {
  height: 37px;
  background: url(../images/index/case-title.png) no-repeat center center; }

.main .case .tips {
  text-align: center; }

.main .case .item-list {
  margin-top: 20px;
  width: 100%;
  overflow: hidden; }

.main .choose {
  height: 255px;
  background-color: #08afeb; }

.footer {
  height: 290px;
  background-color: #222222; }
